table.table {
    &.table-dark {
        tbody, thead {
            tr {
                td, th {
                    color: white;
                    font-weight: 300;
                    vertical-align: middle;
                    padding: 4px;
                    border-top: none;
                }
            }

            tr:hover {
                td, th {
                    cursor: pointer;
                    background-color: #262B3E;
                }
            }
        }

        tr:nth-child(even) td,
        tr th {
            background-color: #1c2030;
        }

        tr:nth-child(odd) td {
            background-color: #171B29;
        }

        tr:first-child th:first-child {
            border-top-left-radius: 6px;
        }

        tr:first-child th:last-child {
            border-top-right-radius: 6px;
        }

        tr:last-child td:first-child {
            border-bottom-left-radius: 6px;
        }

        tr:last-child td:last-child {
            border-bottom-right-radius: 6px;
        }
    }
}
