<div>
    <div class='table-responsive'>
        <div class="pb-10">
            <button class="button-3d green" (click)="addTrade(modal)">Add</button>
        </div>
        <table class='table table-dark' *ngIf='trades && trades.length'>
            <thead>
            <tr>
                <th>Pair</th>
                <th>Amount</th>
                <th>Buy</th>
                <th>Cell</th>
                <th>Profit</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let trade of trades">
                <td>{{ trade.PairCode}}</td>
                <td>{{ trade.Amount    }}</td>
                <td>{{ trade.BuyPrice  }}</td>
                <td>{{ trade.CellPrice }}</td>
                <td>{{ calculateProfit(trade) }}</td>
                <td>
                    <button title="Edit" class="button-3d green" (click)="editTrade(trade)">Edit</button>
                    <button title="Delete" class="button-3d red" (click)="deleteTrade(trade)">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
        <div>
        </div>
    </div>
</div>

<ng-template #modal>
    <form novalidate (ngSubmit)="onSubmit(tradeForm)" [formGroup]="tradeForm">
        <modal-header [show-close]="true">
            <h4 class="modal-title">{{modalTitle}}</h4>
        </modal-header>
        <div class="pad-top-15 ta-center" *ngIf="tradeForm.disabled">
            <b>Are you sure?</b>
        </div>
        <modal-body *ngIf="tradeForm.enabled">
            <div class="form-group">
                <div>
                    <span>Pair Code</span>
                    <input type="text" class="form-control" placeholder="Pair Code" formControlName="PairCode">
                </div>
                <div>
                    <span>Amount</span>
                    <input type="text" class="form-control" placeholder="Amount" formControlName="Amount">
                </div>
                <div>
                    <span>Buy Price</span>
                    <input type="text" class="form-control" placeholder="Buy Price" formControlName="BuyPrice">
                </div>
                <div>
                    <span>Cell Price</span>
                    <input type="text" class="form-control" placeholder="Cell Price" formControlName="CellPrice">
                </div>
                <div>
                    <span>Position Type</span>
                    <select type="option" class="form-control" placeholder="Position Type" formControlName="Type">
                        <option value="1">Long</option>
                        <option value="2">Short</option>
                    </select>
                </div>
                <div>
                    <span>Status</span>
                    <select type="option" class="form-control" placeholder="Position Type" formControlName="Status">
                        <option value="1">Open</option>
                        <option value="2">Closed</option>
                    </select>
                </div>
            </div>
        </modal-body>
        <modal-footer>
            <div class="aligncenter">
                <button type="submit" [disabled]="tradeForm.invalid" class="button-3d green">{{modalBtnTitle}}</button>
                <a class="button-3d" (click)="dismiss()">Cancel</a>
            </div>
        </modal-footer>
    </form>
</ng-template>